<div class="registro-container d-flex justify-content-center align-items-center vh-100">
    <div class="registro-card shadow-lg p-5" style="max-width: 600px; width: 100%;">
      <h2 class="text-center mb-3">Registro de Usuario</h2>
      <p class="text-center text-muted mb-4">Completá tus datos para crear tu cuenta</p>
  
      <form (ngSubmit)="registrarUsuario()">
  
        <!-- Email -->
        <div class="mb-3">
          <label>Email</label>
          <input type="email" [(ngModel)]="emailIngresado" name="email"
                 (ngModelChange)="verificarEmail()" class="form-control" placeholder="ejemplo@correo.com" required>
          <p class="text-danger">{{advertenciaEmail}}</p>
        </div>
  
        <!-- Contraseña -->
        <div class="mb-3">
          <label>Contraseña</label>
          <input type="password" [(ngModel)]="passwordIngresado" name="password"
                 (ngModelChange)="verificarPassword()" class="form-control" placeholder="********" required>
          <p class="text-danger">{{advertenciaPassword}}</p>
        </div>
  
        <!-- Confirmar contraseña -->
        <div class="mb-3">
          <label>Confirmar contraseña</label>
          <input type="password" [(ngModel)]="passwordConfirmacionIngresado" name="passwordConfirmacion"
                 (ngModelChange)="verificarPassword()" class="form-control" placeholder="********" required>
          <p class="text-danger">{{advertenciaConfirmacionPassword}}</p>
        </div>
  
        <!-- Rol -->
        <div class="mb-3">
          <label>Rol</label>
          <select class="form-select" [(ngModel)]="rolSeleccionado" name="rol">
            <ng-container *ngFor="let rol of rolesUsuarioLocal">
              <option [value]="rol">{{ rol }}</option>
            </ng-container>
          </select>
        </div>
  
        <!-- Imagen -->
        <div class="mb-3">
          <label>Imagen del DNI</label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control">
        </div>
  
        <!-- Subcomponentes por rol -->
        <div class="mb-3">
          <app-nuevo-paciente *ngIf="rolSeleccionado === 'paciente'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-paciente>
          <app-nuevo-profesional *ngIf="rolSeleccionado === 'profesional'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-profesional>
          <app-nuevo-administrador *ngIf="rolSeleccionado === 'administrador'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-administrador>
        </div>
  
        <!-- Botón registrar -->
        <button type="submit" class="btn btn-primary w-100">
          <i class="fa-solid fa-floppy-disk me-2"></i> Guardar
        </button>
  
      </form>
    </div>
</div>  
   