<nav class="navbar bg-primary" data-bs-theme="dark"> 
   <a class="nav-link active" aria-current="page" routerLink="/inicio">Principal</a>
   <a class="nav-link " routerLink="/gestiononline">Gesstiones Online</a>
   <a class="nav-link " routerLink="/seccionales">Cartilla Médica</a>
   <a class="nav-link " routerLink="/especialidades">Especialidades</a>
   <a class="nav-link " routerLink="/contactenos">Contacto</a>    
   <a class="nav-link " routerLink="/ingreso">Ingresar</a>
</nav>

<!-- Navbar secundaria SOLO visible para profesionales -->
<nav class="navbar-secundaria" *ngIf="esProfesional">
   <a routerLink="/datos-personales" routerLinkActive="active">Datos personales</a>
   <a routerLink="/ver-turnos" routerLinkActive="active">Ver turnos</a>
</nav>