/* You can add global styles to this file, and also import other style files 

.AppNivel0 {
    border: none;
    padding: 1%;
    margin: 1% auto;
}

.AppNivel1 {
    border: none;
    padding: 1%;
    margin: 1% auto;
}

.VentanaNivel0 {
    border: none;
    padding: 1%;
    margin: 1% auto;
}

.VentanaNivel1 {
    border: none;
    padding: 1%;
    margin: 1% auto;
}
    */
    